@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.container {
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    padding: 20px 30px;
    border: 2px solid #000;
    text-align: center;
    min-width: 400px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container i {
    font-size: 100px;
    margin-bottom: 10px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

label {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    background-color: transparent;
    font-weight: 500;
}

input::placeholder {
    color: #222;
}

.buttons {
    display: flex;
    gap: 20px;
}

button {
    width: 100%;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}

textarea {
    resize: none;
}